# echo-app-deployment.yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  namespace: echo-app
  annotations:
    linkerd.io/inject: enabled
spec:
  replicas: 2
  selector:
    matchLabels:
      app: echo
  template:
    metadata:
      labels:
        app: echo
    spec:
      containers:
      - name: echo
        image: ealen/echo-server:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: echo-service
  namespace: echo-app
spec:
  selector:
    app: echo
  ports:
  - port: 8000
    targetPort: 80
    name: web
---
